<%- model_class = Quotation -%>
<div class="page-header">
  <h1><%=t '.title', :default => Quotation %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:client_name) %></th>
      <th><%= model_class.human_attribute_name(:client_email) %></th>
      <th><%= model_class.human_attribute_name(:client_phone_number) %></th>
      <th><%= model_class.human_attribute_name(:project_name) %></th>
      <th><%= model_class.human_attribute_name(:website_url_to_develop) %></th>
      <th><%= model_class.human_attribute_name(:business_name) %></th>
      <th><%= model_class.human_attribute_name(:about_client_or_about_the_business) %></th>
      <th><%= model_class.human_attribute_name(:website_platform) %></th>
      <th><%= model_class.human_attribute_name(:user_name) %></th>
      <th><%= model_class.human_attribute_name(:password) %></th>
      <th><%= model_class.human_attribute_name(:logo) %></th>
      <th><%= model_class.human_attribute_name(:website_color_scheme) %></th>
      <th><%= model_class.human_attribute_name(:overall_ideas_for_the_project) %></th>
      <th><%= model_class.human_attribute_name(:reference_websites_images_or_function) %></th>
      <th><%= model_class.human_attribute_name(:special_functions) %></th>
      <th><%= model_class.human_attribute_name(:list_of_pages) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @quotations.each do |quotation| %>
      <tr>
        <td><%= quotation.id %></td>
        <td><%= quotation.client_name %></td>
        <td><%= quotation.client_email %></td>
        <td><%= quotation.client_phone_number %></td>
        <td><%= quotation.project_name %></td>
        <td><%= quotation.website_url_to_develop %></td>
        <td><%= quotation.business_name %></td>
        <td><%= quotation.about_client_or_about_the_business %></td>
        <td><%= quotation.website_platform %></td>
        <td><%= quotation.user_name %></td>
        <td><%= quotation.password %></td>
        <td><%= quotation.logo %></td>
        <td><%= quotation.website_color_scheme %></td>
        <td><%= quotation.overall_ideas_for_the_project %></td>
        <td><%= quotation.reference_websites_images_or_function %></td>
        <td><%= quotation.special_functions %></td>
        <td><%= quotation.list_of_pages %></td>
        <td><%=l quotation.created_at, format: :long %></td>
        <td>
          <%= link_to quotation_path(quotation), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to quotation_path(quotation), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_quotation_path,
            :class => 'btn btn-primary' %>
