<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @quotation.user %>
</p>

<p>
  <strong>Client name:</strong>
  <%= @quotation.client_name %>
</p>

<p>
  <strong>Client email:</strong>
  <%= @quotation.client_email %>
</p>

<p>
  <strong>Client phone number:</strong>
  <%= @quotation.client_phone_number %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @quotation.project_name %>
</p>

<p>
  <strong>Website url to develop:</strong>
  <%= @quotation.website_url_to_develop %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @quotation.business_name %>
</p>

<p>
  <strong>About client or about the business:</strong>
  <%= @quotation.about_client_or_about_the_business %>
</p>

<p>
  <strong>Website platform:</strong>
  <%= @quotation.website_platform %>
</p>

<p>
  <strong>User name:</strong>
  <%= @quotation.user_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @quotation.password %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @quotation.logo %>
</p>

<p>
  <strong>Website color scheme:</strong>
  <%= @quotation.website_color_scheme %>
</p>

<p>
  <strong>Overall ideas for the project:</strong>
  <%= @quotation.overall_ideas_for_the_project %>
</p>

<p>
  <strong>Reference websites images or function:</strong>
  <%= @quotation.reference_websites_images_or_function %>
</p>

<p>
  <strong>Special functions:</strong>
  <%= @quotation.special_functions %>
</p>

<p>
  <strong>List of pages:</strong>
  <%= @quotation.list_of_pages %>
</p>

<%= link_to 'Edit', edit_quotation_path(@quotation) %> |
<%= link_to 'Back', quotations_path %>
